FLASK_HOST=""
FLASK_PORT=""
DB_FILE=""
PROMETHEUS_URL=""
PING_INTERVAL=""
RETENTION_DAYS=""
MAX_DB_HISTORY=""

PORT=""
NODE_HOST=""
PYTHON_API_URL=""
SESSION_SECRET=""
ADMIN_SECRET=""

BANDWIDTH_THRESHOLD=""
ALERT_COOLDOWN=""
ALERT_RECIPIENT=""

SMTP_SERVER=""
SMTP_PORT=""
SMTP_EMAIL=""
SMTP_PASSWORD=""

TURNSTILE_SITE_KEY=""
TURNSTILE_SECRET_KEY=""

LDAP_HOST=""
LDAP_PORT=""
LDAP_USE_SSL=""
LDAP_BASE_DN=""
LDAP_BIND_USER=""
LDAP_BIND_PASSWORD=""
LDAP_ADMIN_GROUP=""
LDAP_USER_GROUP=""

PG_PASS=""
AUTHENTIK_SECRET_KEY=""

LLDAP_JWT_SECRET=""
LLDAP_KEY_SEED=""
